<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-accounts-heading" jhiTranslate="ecolarApp.accounts.home.createOrEditLabel">Create or edit a Accounts</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!accounts.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="accounts.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecolarApp.accounts.accountCode" for="field_accountCode">Account Code</label>
                    <input type="text" class="form-control" name="accountCode" id="field_accountCode"
                        [(ngModel)]="accounts.accountCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecolarApp.accounts.accountName" for="field_accountName">Account Name</label>
                    <input type="text" class="form-control" name="accountName" id="field_accountName"
                        [(ngModel)]="accounts.accountName" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecolarApp.accounts.category" for="field_category">Category</label>
                    <select class="form-control" id="field_category" name="category" [(ngModel)]="accounts.category" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="accountCategoryOption.id === accounts.category?.id ? accounts.category : accountCategoryOption" *ngFor="let accountCategoryOption of accountcategories; trackBy: trackAccountCategoryById">{{accountCategoryOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
