<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="eco-category-heading" jhiTranslate="ecolarApp.category.home.createOrEditLabel">Create or edit a Category</h2>
            <div>
                <eco-alert-error></eco-alert-error>
                <div class="form-group" [hidden]="!category.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="category.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecolarApp.category.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="category.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecolarApp.category.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="category.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecolarApp.category.path" for="field_path">Path</label>
                    <input type="text" class="form-control" name="path" id="field_path"
                        [(ngModel)]="category.path" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecolarApp.category.parentId" for="field_parentId">Parent Id</label>
                    <input type="text" class="form-control" name="parentId" id="field_parentId"
                        [(ngModel)]="category.parentId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecolarApp.category.accountType" for="field_accountType">Account Type</label>
                    <select class="form-control" name="accountType" [(ngModel)]="category.accountType" id="field_accountType" >
                        <option value="ASSETS">{{'ecolarApp.AccountType.ASSETS' | translate}}</option>
                        <option value="LIABILITIES">{{'ecolarApp.AccountType.LIABILITIES' | translate}}</option>
                        <option value="REVENUE">{{'ecolarApp.AccountType.REVENUE' | translate}}</option>
                        <option value="EXPENSE">{{'ecolarApp.AccountType.EXPENSE' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecolarApp.category.parent" for="field_parent">Parent</label>
                    <select class="form-control" id="field_parent" name="parent" [(ngModel)]="category.parent" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryOption.id === category.parent?.id ? category.parent : categoryOption" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecolarApp.category.document" for="field_document">Document</label>
                    <select class="form-control" id="field_document" name="document" [(ngModel)]="category.document" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="accountCategoriesOption.id === category.document?.id ? category.document : accountCategoriesOption" *ngFor="let accountCategoriesOption of accountcategories; trackBy: trackAccountCategoriesById">{{accountCategoriesOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
