<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-account-category-heading" jhiTranslate="ecolarApp.accountCategory.home.createOrEditLabel">Create or edit a Account Category</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!accountCategory.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="accountCategory.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecolarApp.accountCategory.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="accountCategory.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecolarApp.accountCategory.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="accountCategory.description" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecolarApp.accountCategory.parent" for="field_parent">Parent</label>
                    <select class="form-control" id="field_parent" name="parent" [(ngModel)]="accountCategory.parent" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="accountCategoryOption.id === accountCategory.parent?.id ? accountCategory.parent : accountCategoryOption" *ngFor="let accountCategoryOption of accountcategories; trackBy: trackAccountCategoryById">{{accountCategoryOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
