<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="accountCategory">
            <h2><span jhiTranslate="ecolarApp.accountCategory.detail.title">Account Category</span> {{accountCategory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecolarApp.accountCategory.name">Name</span></dt>
                <dd>
                    <span>{{accountCategory.name}}</span>
                </dd>
                <dt><span jhiTranslate="ecolarApp.accountCategory.description">Description</span></dt>
                <dd>
                    <span>{{accountCategory.description}}</span>
                </dd>
                <dt><span jhiTranslate="ecolarApp.accountCategory.parent">Parent</span></dt>
                <dd>
                    <div *ngIf="accountCategory.parent">
                        <a [routerLink]="['/account-category', accountCategory.parent?.id, 'view']">{{accountCategory.parent?.name}}</a>
                    </div>
                </dd>
            </dl>

            <jhi-tree-view 
                [collection]="accountCategory.categories" 
                [nameProperty]="'name'" 
                [childrenProperty]="'categories'">
            </jhi-tree-view>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/account-category', accountCategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
