<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="movementLine">
            <h2><span jhiTranslate="ecolarApp.movementLine.detail.title">Movement Line</span> {{movementLine.id}}</h2>
            <hr>
            <eco-alert-error></eco-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecolarApp.movementLine.amount">Amount</span></dt>
                <dd>
                    <span>{{movementLine.amount}}</span>
                </dd>
                <dt><span jhiTranslate="ecolarApp.movementLine.eventType">Event Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'ecolarApp.LineType.' + movementLine.eventType}}">{{movementLine.eventType}}</span>
                </dd>
                <dt><span jhiTranslate="ecolarApp.movementLine.account">Account</span></dt>
                <dd>
                    <div *ngIf="movementLine.account">
                        <a [routerLink]="['/e-account', movementLine.account?.id, 'view']">{{movementLine.account?.accountName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/movement-line', movementLine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
