<div>
    <h2 id="page-heading">
        <span jhiTranslate="ecolarApp.accountingEvent.home.title">Accounting Events</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-accounting-event" [routerLink]="['/accounting-event/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ecolarApp.accountingEvent.home.createLabel">
            Create new Accounting Event
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="accountingEvents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ecolarApp.accountingEvent.eventTime">Event Time</span></th>
            <th><span jhiTranslate="ecolarApp.accountingEvent.registrationTime">Registration Time</span></th>
            <th><span jhiTranslate="ecolarApp.accountingEvent.eventType">Event Type</span></th>
            <th><span jhiTranslate="ecolarApp.accountingEvent.amount">Amount</span></th>
            <th><span jhiTranslate="ecolarApp.accountingEvent.location">Location</span></th>
            <th><span jhiTranslate="ecolarApp.accountingEvent.mainCategory">Main Category</span></th>
            <th><span jhiTranslate="ecolarApp.accountingEvent.eventLines">Event Lines</span></th>
            <th><span jhiTranslate="ecolarApp.accountingEvent.categories">Categories</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let accountingEvent of accountingEvents ;trackBy: trackId">
                <td><a [routerLink]="['/accounting-event', accountingEvent.id, 'view' ]">{{accountingEvent.id}}</a></td>
                <td>{{accountingEvent.eventTime | date:'medium'}}</td>
                <td>{{accountingEvent.registrationTime | date:'medium'}}</td>
                <td jhiTranslate="{{'ecolarApp.AccountingEventType.' + accountingEvent.eventType}}">{{accountingEvent.eventType}}</td>
                <td>{{accountingEvent.amount}}</td>
                <td>{{accountingEvent.location}}</td>
                <td>
                    <div *ngIf="accountingEvent.mainCategory">
                        <a [routerLink]="['../event-category', accountingEvent.mainCategory?.id, 'view' ]" >{{accountingEvent.mainCategory?.name}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let eventLines of accountingEvent.eventLines; let last = last">
                            <a class="form-control-static" [routerLink]="['../accounting-event-line', eventLines?.id, 'view' ]">{{eventLines.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let categories of accountingEvent.categories; let last = last">
                            <a class="form-control-static" [routerLink]="['../event-category', categories?.id, 'view' ]">{{categories.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/accounting-event', accountingEvent.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/accounting-event', accountingEvent.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'accounting-event/'+ accountingEvent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
